@page "/blog/create"
@inject HttpClient Http
@inject NavigationManager Nav 
@inject IJSRuntime JsRuntime


<PageTitle>Blog Create Page</PageTitle>


<h3>BlogCreatePage</h3>

<div>
	<div class="mb-3">
		<label class="form-label">Title</label>
		<input type="text" class="form-control" @bind-value="_blog.BlogTitle" >
	</div>
	<div class="mb-3">
		<label  class="form-label">Author</label>
		<input type="text" class="form-control" @bind-value="_blog.BlogAuthot">
	</div>
	<div class="mb-3">
		<label class="form-label">Content</label>
		<input type="text" class="form-control" @bind-value="_blog.BlogContent">
	</div>
	<a href="/blog" class="btn btn-secondary">Back</a>
	<button type="button" class="btn btn-success" @onclick="Save">Save</button>
</div>

@code {
	private BlogModel _blog = new BlogModel();

	private async Task Save()
	{
		var jsonBlog = JsonConvert.SerializeObject(_blog);
		var content = new StringContent(jsonBlog,Encoding.UTF8,Application.Json);
		var response = await Http.PostAsync("api/Blogs", content);
       if(response.IsSuccessStatusCode)
       {
        var message = await response.Content.ReadAsStringAsync();
		await JsRuntime.InvokeVoidAsync("alert", message);
		Nav.NavigateTo("/blog");
       }
    }
}
