<div class="d-flex justify-content-end">
	<a href="/BlogAjax/Create" class="btn btn-outline-success">Create New Blog</a>
</div>


<table class="table table-responsive">
	<thead>
		<tr>
			<th></th>
			<th>No.</th>
			<th>Blog Title</th>
			<th>Blog Author</th>
			<th>Blog Content</th>
		</tr>
	</thead>
	<tbody id="tblData">
	
	</tbody>
</table>


@section scripts{
	<script>
		$(document).ready(function(){
			$.ajax({
				url:"BlogAjax/List",
				type :"GET",
				success: function (response) {
					console.log("response", response);

					$('#tblData').empty();
					for (let i = 0; i < response.length; i++) {

						let blog = response[i];
						let tr = 
						`<tr>
							<td>
								<a href="/BlogAjax/Edit/${blog.BlogId}" class="btn btn-warning">Edit</a>
							    <button type="button" data-id="${blog.BlogId}" class="btn btn-danger btn-delete">Delete</button>

							</td>
						    <td>${i + 1}</td>	
							<td>${blog.BlogTitle}</td>
							<td>${blog.BlogAuthot}</td>
							<td>${blog.BlogContent}</td>
						</tr>`;
						$('#tblData').append(tr);
						
						

					}
					bindDelete();
					
				},
				error:function (error){
					console.log(error);
				}

			})
		})


		function bindDelete() {
			$(".btn-delete").click(function(){
				const id = $(this).data('id');

				$.ajax({
					url: `/BlogAjax/Delete`,
					type: "POST",
					data: {
						Id: id
					},
					success: function (response) {
						console.log("response", response);
						if (!response.IsSuccess) {
							alert(response.Message);
							return;
						}
						alert(response.Message);
						location.href = "/BlogAjax";
					},
					error: function (error) {
						console.log(error);
					}
				});
			});
		}
		


	</script>

}