@model List<AMLDotNetCore.Project1.MvcApp.Controllers.HomeController.BlogModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        @foreach (var blog in Model)
        {
            <div class="col-md-4">
                <h2>@blog.Title</h2>
                <p>@blog.Author</p>
            </div>
        }
</div>